/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
   
    /* padding: 50px 240px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav a {
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    color: #727272;
    font-weight: 400;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    /* margin: 20px; */
    padding: 15px 15px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.25rem;
}
img{
    width: 100%;
    padding-top: 20px;
}

main{
    max-width: 1440px;
    padding: 30px 240px;
    margin: 0 auto;

}
.teams-container{
    display: flex;
    align-items: center;
    
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.teams-content{
    padding: 30px;
}
.quick{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.of{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-weight: 400;
}
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
    .teams-content{
        padding: 50px;
    }
    main {
        padding: 20px;
        margin: 10px;
    }

    .img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    .img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
 main{
    padding: 20px;
    margin: 10px;
 }
 .teams-content{
    padding: 50px;
 }
}
