/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
   
    /* padding: 50px 240px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav a {
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    color: #727272;
    font-weight: 400;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    /* margin: 20px; */
    padding: 15px 15px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.25rem;
}
.banner-img{
    width: 100%;
    padding-top: 20px;
} 

main{
    max-width: 1440px;
    padding: 30px 240px;
    margin: 0 auto;

}
.teams-container{
    display: flex;
    align-items: center;
    
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.teams-content{
    padding: 30px;
}
.quick{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.of{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-weight: 400;
}
/* feature section started */
.feature-love{
    padding: 50px;
    display: flex;
    gap: 100px;
}
.ten-years{
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: #FFF;
    width: 342px;
    padding: 40px;
}
.ten-years h2{
    font-size: 4rem;
    font-weight: 700;
}
.feature-love .card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-bottom: 15px;
}
.feature-love .sponser-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
/* feature section-finished */
/* facts-section */
.facts{
    margin-bottom: 30px;
    padding: 50px;
}
.facts-title{
   color:#131313;
   font-size: 2.8rem;
   font-weight: 700;
   margin-bottom: 20px;
   /* padding: 30px; */

}
.facts-description{
  color:#727272;
  font-size: 1rem;
  font-weight: 400;
  /* padding: 30px; */
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.facts-card-container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  /* padding: 30px; */
}
.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px;
}
.facts-card-container .card-title{
 color: #727272;
 font-size: 1.25rem;
 font-weight: 600;
 margin: 5px;
}
/* Sponspors -section */
.sponser{
    text-align: center;
}
.sponser-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.sponser-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.sponser-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
   

}

/* media quires mobile */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container, .facts-card-container,.sponser-img-container
    {
        flex-direction: column;
    }
    .teams-content{
        padding: 50px;
    }
    main {
        padding: 20px;
        margin: 10px;
    }

    .img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .facts-card-container{
        gap: 24px;
    }
    .sponser-img-container{
        /* width: 165px;
        display: flex; */
        align-items: center;
        gap: 40px;
    }
}
/* tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav, .teams-container, .sponser-img-container{
        flex-direction: column;
    }
    .img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
 main{
    padding: 20px;
    margin: 10px;
 }
 .teams-content{
    padding: 50px;
 }
 .sponser-img-container{
    width: 165px;
    margin-left: 270px;
    gap: 40px;
    
 }
}